.tab-container {
  width: 100%; 
}

.payment-modal-black {
  display: flex;
  align-items: flex-start; 
  justify-content: center; 
  overflow: auto; 
}

.payment-modal-white {
  margin-top: 8%; 
  max-height: 90vh; 
  overflow-y: auto; 
}

.modal-content {
  max-height: 90vh; 
  overflow-y: auto; 
  padding: 1rem; 
}

.modal-content::-webkit-scrollbar {
  width: 0px; 
  background: transparent; 
}

.modal-content::-webkit-scrollbar-thumb {
  background: transparent; 
}

.modal-content::-webkit-scrollbar-track {
  background: transparent; 
}


.tab-buttons {
  display: flex; 
  width: 100%; 
  justify-content: space-evenly;
}

.tab-button {
  flex: 1;
  padding: 0.5rem 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
  font-weight: normal;
  color: #333; 
  text-align: center; 
}

.tab-button::after {
  content: '';
  position: absolute;
  bottom: -4px; 
  left: 0;
  width: 100%;
  height: 2px; 
  background-color: #ddd; 
  transition: background-color 0.3s, height 0.3s;
}

.tab-button:hover {
  color: #0891B2; 
}

.tab-button.active {
  color: #0891B2; 
  font-weight: bold;
}

.tab-button.active::after {
  background-color: #0891B2; 
  height: 4px; 
}

.checkout-summary-total {
  font-weight: 400;
}

.checkout-summary-price {
  font-weight: 700;
}

.checkout-summary-title {
  font-weight: 700;
  margin-bottom: 1rem; 
  font-size: 1.25rem; 
}

.checkout-summary-footer {
  padding-top: 1.5rem; 
}



input[type="radio"].accent-secondary-70:checked + .radio-label {
  border: 2px solid #0891B2; 
  box-shadow: 0 0 0 2px rgba(8, 145, 178, 0.3); 
}


.radio-label {
  display: flex;
  align-items: center;
  border: 2px solid transparent; 
  padding: 10px;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
}


@media (min-width: 90px) and (max-width: 640px) { 
  .payment-modal-white {
      margin-top: 18%;
      max-height: 80vh;
      overflow-x: hidden; 
    }

}
