.checkout-summary-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.375rem; 
    width: 100%;
    border: 1px solid #DEE3ED;
    background-color: white;
    color: #333; 
    padding: 2rem; 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px, rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
  }
  
  .checkout-summary-header {
    color: #333; 
  }
  
  .checkout-summary-title {
    font-weight: 700;
    margin-bottom: 1rem; 
    font-size: 1.25rem; 
  }
  
  .checkout-summary-divider {
    border-top: 1px solid #DEE3ED; 
  }
  
  .checkout-summary-footer {
    padding-top: 1.5rem; 
  }
  
  .checkout-summary-total {
    font-weight: 400;
  }
  
  .checkout-summary-price {
    font-weight: 700;
  }
  
  .checkout-summary-button {
    margin-top: 1.5rem; 
    display: block;
    width: 100%;
    background-color: #F0F0F0; 
    color: #999; 
    border-radius: 0.375rem; 
    text-align: center;
    white-space: nowrap;
  }
  
  .checkout-summary-button-text {
    font-weight: 700; 
  }
  